<!DOCTYPE html>
<html>
    <head>
        <title>EasyTasks</title>

        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- fonts style -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Custom styles for this template -->
        <link href="/public/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="style.css">


    </head>
    <body>

        <!-- Header -->
        <nav class="header">
            <div class="container-bar">
               <img src="/public/img/MeisterTask-logo-removebg-preview.png" style="max-width: 40px;">
               <a href="index.html"><h2> EasyTasks </h2></a>
            </div>
      </nav>

      <!-- category  -->
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">Account</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
      </div>

      <!-- About -->
      <div class="aboutSection">
       <div class="about">
            <h2> Let your <br> Tasks Easier </h2>
            <h4>
                versatile platform that provides a range of valuable tools for managing different types of media files. With features that include downloading videos, files, and photos from any website, converting file types and picture formats, reducing file size, and removing backgrounds from photos, your website offers a convenient and user-friendly experience for people who need to work with media files. Whether users need to convert a file for a specific application or remove the background from an image for a project, your website can help them accomplish their goals quickly and easily. With its intuitive interface and powerful tools, your website is a valuable resource for anyone who needs to manage and manipulate media files.
            </h4>
        </div>
        <img src="/public/img/undraw_completed_tasks_vs6q (1).svg" class="introImg">
      </div>
      















      <div class="tools">
        <div class="tools__container">
            <div class="tools__item">
                <a href="/view/pdfToPic.html" title="Merge PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>PDF TO PIC</h3>
                    <div class="tools__item__content">
                        <p>Combine PDFs in the order you want with the easiest PDF merger available.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <a href="/view/picToPDF.html" title="Split PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>PIC TO PDF</h3>
                    <div class="tools__item__content">
                        <p>Separate one page or a whole set for easy conversion into independent PDF files.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <a href="/compress_pdf" title="Compress PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Covert Picture type</h3>
                    <div class="tools__item__content">
                        <p>Reduce file size while optimizing for maximal PDF quality.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <a href="/pdf_to_word" title="PDF to Word">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Pic Resize and Reduce</h3>
                    <div class="tools__item__content">
                        <p>Easily convert your PDF files into easy to edit DOC and DOCX documents. The converted WORD document is almost 100% accurate.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <a href="/pdf_to_powerpoint" title="PDF to Powerpoint">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Remove background</h3>
                    <div class="tools__item__content">
                        <p>Turn your PDF files into easy to edit PPT and PPTX slideshows.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <a href="/pdf_to_excel" title="PDF to Excel">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Download Picture</h3>
                    <div class="tools__item__content">
                        <p>Pull data straight from PDFs into Excel spreadsheets in a few short seconds.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/word_to_pdf" title="Word to PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>PNG to HEIC</h3>
                    <div class="tools__item__content">
                        <p>Make DOC and DOCX files easy to read by converting them to PDF.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/powerpoint_to_pdf" title="Powerpoint to PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Powerpoint to PDF</h3>
                    <div class="tools__item__content">
                        <p>Make PPT and PPTX slideshows easy to view by converting them to PDF.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/excel_to_pdf" title="Excel to PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Excel to PDF</h3>
                    <div class="tools__item__content">
                        <p>Make EXCEL spreadsheets easy to read by converting them to PDF.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/html-to-pdf" title="HTML to PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>HTML to PDF</h3>
                    <div class="tools__item__content">
                        <p>Convert webpages in HTML to PDF. Copy and paste the URL of the page you want and convert it to PDF with a click.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/unlock_pdf" title="Unlock PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>Unlock PDF</h3>
                    <div class="tools__item__content">
                        <p>Remove PDF password security, giving you the freedom to use your PDFs as you want.</p>
                    </div>
                </a>
            </div>
            <div class="tools__item">
                <div class="badge badge--new">Still working on!</div>
                <a href="/ocr-pdf" title="OCR PDF">
                    <div class="tools__item__icon">
                    </div>
                    <h3>OCR PDF</h3>
                    <div class="tools__item__content">
                        <p>Easily convert scanned PDF into searchable and selectable documents.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>




      
       <!-- Footer -->
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-row">

            <div class="footer-col">
              <h4>Company</h4>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li>
              </ul>
            </div>

            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">order status</a></li>
                <li><a href="#">payment options</a></li>
              </ul>
            </div>

            <div class="footer-col">
                <h4>Our websites</h4>
                <ul>
                  <li><a href="#">Files Editor</a></li>
                  <li><a href="#">Video Editor</a></li>
                  <li><a href="#">Picture Editor</a></li>
                  <li><a href="#">other</a></li>
                </ul>
              </div>

            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <script src="/public/script.js"></script>
      
    </body>

</html>